#topheader
{
min-height:30px;
border:1px solid #EEEEEE;
}

#headicons
{
float:right;
font-family:Arial;
font-size:13px;
letter-spacing:0px;
padding:5px 20px;
color:#959595;
vertical-align:top;
}

@media all and (max-width: 768px) {
#topheader
{
min-height:20px;
border:1px solid #EEEEEE;
}

#headicons
{
float:right;
font-family:Arial;
font-size:8px;
letter-spacing:0px;
padding:5px 2px;
color:#959595;
vertical-align:top;
}
 
#serviceblock
{
display:block;
min-height:300px;
text-align:justify;
font-size:16px;
line-height:25px;
margin-top:100px;
}


#copyright
{
line-height:20px; 
text-align:center; 
background-color:#333; 
color:#FFFFFF; 
font-weight:bold; 
font-family:Arial;
border:1px solid #444;
border-bottom-style:none;
border-left-style:none;
border-right-style:none;
line-height:25px;
font-size:10px;
}

#men
{
height:100px;
overflow:hidden;
}

.log-in
{
display:none;
}

}

#lnk
{
text-decoration:none;
outline:none;
}

#labelhead
{
vertical-align:bottom;
line-height:70px;
}
#labelhead a
{
font-family:"Arial";
background-color:#F4F4F4;
color:#b54b30;
font-size:22px;
vertical-align:top;
font-style:italic;
font-weight:bold;
padding:25px 5px;
/*border:2px solid #b54b30;*/
border:2px solid #3d8736;
border-top-style:none;
border-right-style:none;
border-left-style:none;
text-decoration:none;
outline:none;
}

#pagecontent
{
text-indent:50px;
text-align:justify;
line-height:25px;
font-size:14px;
background-color:#FFFFFF;
}

#homecontent
{

text-align:justify;
font-size:15px;
font-weight:normal;
padding:0px;
background-color:#FFFFFF;
}

#lnbreak
{
clear:both;
line-height:20px;
}

#services
{
background-color:#EFEFEF;
min-height:500px;
text-align:center;
}
#services h3
{
line-height:60px;
font-size:25px;
font-weight:bold;
/*color:#b54b30;*/
color:#3d8736;
text-align:center;
}

#serviceblock
{
min-height:200px;
text-align:justify;
font-size:15px;
line-height:25px;
margin-top:20px;
}

#serviceblock img
{
margin:0 auto;
}

#serviceblock h3
{
width:100%;
text-align:center;
color:#000;
font-size:15px;
font-weight:bold;
}

#producthead
{
text-align:center;
line-height:70px;
vertical-align:middle;
font-family:Arial;
font-size:25px;
font-weight:bold;
/*color:#b54b30;*/
color:#3d8736;
}

#footer
{
min-height:400px;
background-color:#333;
color:#FFFFFF;
}

#footer h2
{
width:100%;
font-size:25px;
line-height:50px;
text-align:center;
border:1px solid #444;
border-top-style:none;
border-left-style:none;
border-right-style:none;
}

#cont
{
padding:10px;
height:300px;
}

#cont h2
{
color:#fff;
width:100%;
font-size:20px;

line-height:30px;
text-align:center;
border:1px solid #444;
border-top-style:none;
border-left-style:none;
border-right-style:none;
text-align:left;
}
.fb
{
margin-top:20px;
position:relative;
width:25px;
height:38px;
background-image:url(../images/fb.png);
color:#FFFFFF;
opacity:0.5;
float:left;
}
.fb:hover
{
display:block;
opacity:1;
}

.ln
{
position:relative;
width:25px;
height:38px;
background-image:url(../images/in.png);
color:#FFFFFF;
opacity:0.5;
float:left;
margin-top:10px;
}
.ln:hover
{
display:block;
opacity:1;
}

.tw
{
position:relative;
width:25px;
height:38px;
background-image:url(../images/tw.png);
color:#FFFFFF;
opacity:0.5;
float:left;
margin-top:10px;
}
.tw:hover
{
display:block;
opacity:1;
}

.gg
{
position:relative;
width:25px;
height:38px;
background-image:url(../images/gl.png);
color:#FFFFFF;
opacity:0.5;
float:left;
margin-top:10px;
}
.gg:hover
{
display:block;
opacity:1;
}


#txt
{
float:left;
margin-top:15px;
margin-left:30px;
color:#ccc;
}

#cat
{
color:#fff; 
margin-top:20px;
font-size:15px;
letter-spacing:1px;
}
#cont a
{
vertical-align:top;
color:#FFFFFF;
text-decoration:none;
outline:none;
}

#copyright
{
line-height:20px; 
text-align:center; 
background-color:#333; 
color:#FFFFFF; 
font-weight:bold; 
font-family:Arial;
border:1px solid #444;
border-bottom-style:none;
border-left-style:none;
border-right-style:none;
line-height:25px;
}

.fs-pager-wrapper{
display:none;
}

#paintings
{
background-color:#E8E8E8; 
height:300px; 
border:2px solid #E8E8E8; 
margin-left:20px; 
margin-top:20px;
}

#paintings:hover
{
border-color:gray;
box-shadow:1px 5px 2px #A2A2A2;
}
#paintbutton
{
position:relative;
margin:auto;
width:100%;
line-height:30px;
border:none;
}

#paintingdetails
{
text-align:justify;
line-height:40px;
font-size:16px;
}

#paintingdetails b
{
margin-top:0px;
line-height:20px;
font-weight:bold;
}

#viewbutton
{
text-align:left;
text-indent:15px;
vertical-align:middle; 
color:#fff; 
margin-top:0px; 
width:100%; 
border:none; 
background-color:#008cba; 
line-height:30px; 
font-weight:bold;
opacity:0.5;
}
#viewbutton:hover
{
opacity:1;
transition-duration:1s;
}

#subtotal
{
border:1px solid #DFDFDF;
height:150px;
background-color:#F4F4F4;
padding:10px;
border-radius:5px;
}

#shoppingtable b
{
font-weight:bold;
}

#signuplink
{
width:100%;
line-height:25px;
border:1px solid #DFDFDF;
color:#2e3233;
font-size:12px;
border-top-style:none; 
border-left-style:none; 
border-right-style:none;
}

#signuplabel
{
width:100%;
line-height:45px;
font-family:sans-serif;
border:1px solid #DFDFDF;
border-top-style:none;
border-left-style:none;
border-right-style:none;
font-size:24px;
color:#2e3233;
font-weight:bold;
}

#usernameerr
{
font-size:12px;
color:red;
clear:both;
}
#signupbox
{
width:100%; 
border:1px solid #DFDFDF;
padding:30px; 
border-radius:10px;
}

#forgot
{
font-size:12px;
color:#2e3233;
outline:none;
}